body{
	background: black url("http://static.tumblr.com/c1fc576319bae2b6dc7834cce5f1c5ad/45h2dww/O47n70bl3/tumblr_static_e0blwthhxggkgg8ogcssw4gwk.gif");
	color: white;
}

h1{
	color:lightsteelblue;
}

p{
	font-family: "Georgia", Georgia, serif;
}

.extreme{
	font-size: 40px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: black;
	text-shadow: 2px 2px #ff0000;
}

#head1{
	font-family: "Arial";
}

.navzone{
	background:palevioletred;
	color:thistle;
}

.content{
	font-size: .5em;
}

.prose{
	color:peru;
	font-variant: small-caps;
}